<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Learning Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="navbar-brand" src="~/Images/24.png" height="45" width="35">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Home","Category","Home", null, new {@class="nav-link"})
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
            
        </ul>
    </div>
    <form class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" href="#">Login</a></li>
            <li><a class="nav-link" href="#">Register</a></li>
        </ul>
    </form>
    <form class="form-inline mt-2 mt-md-0 offset-1">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            @RenderBody()
        </div>
    </div>
</div>



<hr/>
<footer class="py-2 ">
    <div class=" text-center">
        <p>&copy; @DateTime.Now.Year - Learning Portal</p>
    </div>

</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>

</body>
</html>
